<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{{ titulo }}</title>
  <style>
    body {
      background-color: #111;
      color: white;
      font-family: monospace;
      padding: 30px;
    }

    .linha {
      margin-bottom: 20px;
      white-space: pre;
    }

    .cifra {
      color: orange;
    }

    h1, h3 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>{{ titulo }}</h1>
  <h3>Autor: {{ autor }}</h3>

  <div id="letra">
    {% for l in linhas %}
      <div class="linha">
        <div class="cifra">{{ l.cifra }}</div>
        <div>{{ l.letra }}</div>
      </div>
    {% endfor %}
  </div>
</body>
</html>
